<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="bootstrap/bootstrap.css">
<script type="text/javascript" src="scripts/jquery/jquery-1.7.1.js"></script>
<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
<script type="text/javascript" src="scripts/artDialog/artDialog.js?skin=default"></script>
<link rel="stylesheet" href="bootstrap/bootstrap-datetimepicker.css"></link>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<title>开户记录</title>
<script type="text/javascript">
	$(document).ready(function(){
		//显示日期
		$("#start,#end").datetimepicker({
			format: 'yyyy-mm-dd',
	    	   language:'zh-CN',
	    	   minView:2,
		});
		//给分页超链接绑定事件
		$(".aojump").click(function(){
			$("#aopi").val($(this).attr("data"));
			$("#aosearchForm").submit();
		})
	});
</script>
<style>
	.alt td{ background:black !important;}
	#searchForm{position: relative;left: 1%;}
	#jilu{position: relative;}
</style>



</head>
<body>	
	<div style="Margin:10px;">	
		<form action="/Account_opening" name="aosearchForm" id="aosearchForm" class="form-inline" method="post">
			
				<div class="form-group">
					<label>&nbsp;&nbsp;&nbsp;&nbsp;姓名</label> 
					<input type="text" class="form-control ao_name" name="ao_name" th:value="${session.accout_openingCondition.ao_name}">
				</div>
				
				<div class="form-group">
					<label>账号</label> 
					<input type="text" class="form-control ao_accout_number" name="ao_accout_number" th:value="${session.accout_openingCondition.ao_accout_number}">
				</div>
				
				<div class="form-group">
					<label>开始时间</label> <input type="text" class="form-control beginDate"
						name="beginDate" id="start" readonly="readonly" th:value="${#dates.format(session.accout_openingCondition.startTime,'yyyy-MM-dd')}" />
				</div>
				<div class="form-group">
					<label>结束时间</label> <input type="text" class="form-control endDate"
						id="end" readonly="readonly" name="endDate" th:value="${#dates.format(session.accout_openingCondition.endTime,'yyyy-MM-dd')}" />
				</div>
				
				<!-- <div class="form-group">
					<label>开户地点</label> 
					<input type="text" class="form-control ao_location" name="ao_location" th:value="${session.accout_openingCondition.ao_location}" />
				</div> -->
				
				<div class="form-group">
					<label>卡类型</label> 
					<input type="text" class="form-control ao_cardtype" name="ao_cardtype" th:value="${session.accout_openingCondition.ao_cardtype}" />
				</div>
				<div class="form-group">
					<label>状态</label> 
					<select class="form-control" name="result" id="result">
						<option value="-1">全部</option>					
						<option value="1" th:selected="${session.accout_openingCondition.result eq 1}">开户成功</option>	
						<option value="0" th:selected="${session.accout_openingCondition.result eq 0}">开户失败</option>							
					</select>
				</div>
				<div class="form-group">
							<!-- 写一个隐藏域: -->
					<input type="hidden" name="page" value="1" id="aopi" />&nbsp;
					<button type="submit" class="btn btn-success">查询</button>				
				</div>				
		</form>						
	</div>					
			
	<div class="ui_content">
		<div class="ui_tb">					
			<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
				<tr>
					<th>ID</th>				
					<th>姓名</th>
					<th>开户账号</th>
					<th>开户时间</th>
					<!-- <th>开户地点</th> -->
					<th>开户地点</th>
					<th>卡类型</th>
					<th>状态</th>
					<th>操作</th>					
				</tr>
				<tr th:each="ao_accout_opening:${session.ao_accout_opening_list}">
					<td th:text="${ao_accout_opening.id}"></td>
					<td th:text="${ao_accout_opening.ao_name}"></td>
					<td th:text="${ao_accout_opening.ao_accout_number}"></td>
					<td th:text="${#dates.format(ao_accout_opening.ao_time,'yyyy-MM-dd hh:mm:ss')}"></td>
					<td th:text="${ao_accout_opening.ao_location}"></td>
					<td th:text="${ao_accout_opening.ao_cardtype}"></td>
					<td th:if="${ao_accout_opening.result} eq 0" th:text="开户失败"></td>
					<td th:if="${ao_accout_opening.result} eq 1" th:text="开户成功"></td>
					<td><a href="/delAo_accout_opening?id=${ao_accout_opening.id}">删除</a></td>						
				</tr>		
			</table>
						
			<div style="text-align: center;">
			     <ul class="pagination">
					<li th:if="${session.a_page.pageNum eq 1}" th:class="disabled"><a href="#">首页</a></li>
					<li th:if="${session.a_page.pageNum ne 1}"><a href="javascript:void(0);" class="aojump" th:data="1">首页</a></li>
					<li th:if="${session.a_page.pageNum eq 1}" th:class="disabled"><a href="#">上一页</a></li>
					<li th:if="${session.a_page.pageNum ne 1}"><a href="javascript:void(0);" class="aojump" th:data="${session.a_page.pageNum-1}">上一页</a></li>
								
					<!-- 这是页码 -->
					<th:block th:each="nav:${session.a_page.navigatepageNums}">
						<li th:class="${nav==session.a_page.pageNum}?'active':''"><a th:text="${nav}" href="javascript:void(0);" class="aojump" th:data="${nav}"></a></li>
					</th:block>
								
					<li th:if="${session.a_page.pageNum eq session.a_page.pages}" th:class="disabled"><a href="#">下一页</a></li>
					<li th:if="${session.a_page.pageNum ne session.a_page.pages}"><a href="javascript:void(0);" class="aojump" th:data="${session.a_page.pageNum+1}">下一页</a></li>
					<li th:if="${session.a_page.pageNum eq session.a_page.pages}" th:class="disabled"><a href="#">尾页</a></li>
					<li th:if="${session.a_page.pageNum ne session.a_page.pages}"><a href="javascript:void(0);" class="aojump" th:data="${session.a_page.pages}">尾页</a></li>										
				</ul>
				<div id="jilu">
					<span >一共:<span th:text="${session.a_page.total}"></span>条记录</span>
				</div>
			</div>
		</div>
	</div>				
</body>
</html>
					




