<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="bootstrap/bootstrap.css">
<script type="text/javascript" src="scripts/jquery/jquery-1.7.1.js"></script>
<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
<script type="text/javascript" src="scripts/artDialog/artDialog.js?skin=default"></script>
<title>资金归集记录</title>
<script type="text/javascript">
	$(document).ready(function(){
		//给分页超链接绑定事件
		$(".cjump").click(function(){
			$("#chid").val($(this).attr("data"));
			$("#csearchForm").submit();
		})
	});
</script>
<style>
	.alt td{ background:black !important;}
	#searchForm{position: relative;left: 1%;}
	#jilu{position: relative;}
</style>



</head>
<body>	
	<div style="Margin:10px;">	
		<form action="/Fund_collection" name="csearchForm" id="csearchForm" class="form-inline" method="post">		
				<div class="form-group">
					<label>&nbsp;&nbsp;&nbsp;&nbsp;主卡姓名</label> 
					<input type="text" class="form-control c_name" name="c_name" th:value="${session.collectionCondition.c_name}">
				</div>

				<div class="form-group">
					<label>主卡账号</label> 
					<input type="text" class="form-control c_main_account" name="c_main_account" th:value="${session.collectionCondition.c_main_account}">
				</div>
				
				<div class="form-group">
					<label>主卡金额</label> 
					<input type="text" class="form-control c_main_amount" name="c_main_amount" th:value="${session.collectionCondition.c_main_amount}">
				</div>
				
				<div class="form-group">
					<label>子卡账号</label> 
					<input type="text" class="form-control c_sub_account" name="c_sub_account" th:value="${session.collectionCondition.c_sub_account}" />
				</div>
				
				<div class="form-group">
					<label>状态</label> 
					<select class="form-control" name="state" id="state">
						<option value="-1">全部</option>					
						<option value="0" th:selected="${session.collectionCondition.state eq 0}">归集失败</option>	
						<option value="1" th:selected="${session.collectionCondition.state eq 1}">归集成功</option>							
					</select>
				</div>
				
				<div class="form-group">
							<!-- 写一个隐藏域: -->
					<input type="hidden" name="page" value="1" id="chid" />&nbsp;
					<button type="submit" class="btn btn-success">查询</button>				
				</div>			
		</form>
	</div>											
			
	<div class="ui_content">
		<div class="ui_tb">					
			<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
				<tr>					
					<th>姓名</th>
					<th>主账号</th>
					<th>子账号1</th>
					<th>子账号2</th>
					<th>主卡金额</th>
					<th>子账号1金额</th>
					<th>子账号2金额</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				<tr th:each="C_collection:${session.collectionList}">
					<td th:text="${C_collection.C_name}"></td>
					<td th:text="${C_collection.c_main_account}"></td>
					<td th:text="${C_collection.c_sub_account_a}"></td>
					<td th:text="${C_collection.c_sub_account_b}"></td>
					<td th:text="${C_collection.c_main_amount}"></td>
					<td th:text="${C_collection.c_sub_amount_a}"></td>
					<td th:text="${C_collection.c_sub_amount_b}"></td>
					<td th:if="${C_collection.result} eq 0" th:text="归集失败"></td>
					<td th:if="${C_collection.result} eq 1" th:text="归集成功"></td>
					<td><a href="/delC_collection?id=${C_collection.id}">删除</a></td>						
				</tr>		
			</table>
						
			<div style="text-align: center;">
			     	<ul class="pagination">
						<li th:if="${session.c_page.pageNum eq 1}" th:class="disabled"><a href="#">首页</a></li>
						<li th:if="${session.c_page.pageNum ne 1}"><a href="javascript:void(0);" class="cjump" th:data="1">首页</a></li>
						<li th:if="${session.c_page.pageNum eq 1}" th:class="disabled"><a href="#">上一页</a></li>
						<li th:if="${session.c_page.pageNum ne 1}"><a href="javascript:void(0);" class="cjump" th:data="${session.c_page.pageNum-1}">上一页</a></li>
									
						<!-- 这是页码 -->
						<th:block th:each="nav:${session.c_page.navigatepageNums}">
							<li th:class="${nav==session.c_page.pageNum}?'active':''"><a th:text="${nav}" href="javascript:void(0);" class="cjump" th:data="${nav}"></a></li>
						</th:block>
									
						<li th:if="${session.c_page.pageNum eq session.c_page.pages}" th:class="disabled"><a href="#">下一页</a></li>
						<li th:if="${session.c_page.pageNum ne session.c_page.pages}"><a href="javascript:void(0);" class="cjump" th:data="${session.c_page.pageNum+1}">下一页</a></li>
						<li th:if="${session.c_page.pageNum eq session.c_page.pages}" th:class="disabled"><a href="#">尾页</a></li>
						<li th:if="${session.c_page.pageNum ne session.c_page.pages}"><a href="javascript:void(0);" class="cjump" th:data="${session.c_page.pages}">尾页</a></li>										
					</ul>
					<div id="jilu">
						<span >一共:<span th:text="${session.c_page.total}"></span>条记录</span>
					</div>
			</div>
		</div>
	</div>				
</body>
</html>






