<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="bootstrap/bootstrap.css">
<script type="text/javascript" src="scripts/jquery/jquery-1.7.1.js"></script>
<link href="style/authority/basic_layout.css" rel="stylesheet"
	type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript" src="scripts/authority/commonAll.js"></script>
<script type="text/javascript"
	src="scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript"
	src="scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css"
	href="style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
<script type="text/javascript"
	src="scripts/artDialog/artDialog.js?skin=default"></script>
	<link rel="stylesheet" href="bootstrap/bootstrap-datetimepicker.css"></link>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
 <script type="text/javascript" src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<title>卡管理</title>
<script type="text/javascript">
	$(document).ready(function() {
		//显示日期      
	       $("#start,#end").datetimepicker({
	    	   format: 'yyyy-mm-dd',
	    	   language:'zh-CN',
	    	   minView:2,
	       });
		
	       //给页码的超链接绑定点击事件
	       $(".jump").click(function(){
	      	 $("#pi").val($(this).attr("data"));
	      	 $("#searchForm").submit();
	       })
	       
	       /**编辑   **/
	     
	});
</script>
<style>
.alt td {
	background: black !important;
}
</style>
</head>
<body>
			<form action="/CardListAccount" name="searchForm" id="searchForm" class="form-inline"
				method="post">
				<div class="form-group">
					<label>真实姓名</label> <input type="text" class="form-control real_name"
						name="real_name" id="real_name" th:value="${session.cardcondition.real_name}">
				</div>
				<div class="form-group">
					<label>身份证号</label> <input type="text" class="form-control card_number"
						name="card_number" id="card_number" th:value="${session.cardcondition.card_number}">
				</div>
				<div class="form-group">
					<label>银行卡号</label> <input type="text" class="form-control id_card"
						name="id_card" id="id_card" th:value="${session.cardcondition.id_card}">
				</div>
				<div class="form-group">
					<label>时间范围</label> <input type="text" class="form-control beginDate"
						name="beginDate" id="start" readonly="readonly" th:value="${#dates.format(session.cardcondition.startTime,'yyyy-MM-dd')}" />
				</div>
				<div class="form-group">
					<label></label> <input type="text" class="form-control endDate"
						id="end" readonly="readonly" name="endDate" th:value="${#dates.format(session.cardcondition.endTime,'yyyy-MM-dd')}" />
				</div>
				<div class="form-group">
					<label>状态</label> <select class="form-control" name="card_state"
						id="card_state">
						<option value="-1">全部</option>					
						<option value="0" th:selected="${session.cardcondition.card_state eq 0}">已注销</option>	
						<option value="1" th:selected="${session.cardcondition.card_state eq 1}">正常</option>	
						<option value="2" th:selected="${session.cardcondition.card_state eq 2}">已冻结</option>	
					</select>
				</div>
				<div class="form-group">
					<!-- 写一个隐藏域: -->
					<input type="hidden" name="page" value="1" id="pi" />
					<button type="submit" class="btn btn-success">查询</button>
		
				</div>
			</form>
		
			<table class="table" cellspacing="0" cellpadding="0" width="100%"
				align="center" border="0">
				<tr>
					<th>真实姓名</th>
					<th>证件号码</th>
					<th>银行卡号</th>
					<th>开户地点</th>
					<th>币种</th>
					<th>余额</th>
					<th>可用余额</th>
					<th>卡种</th>
					<th>银行卡状态</th>
					<th>主副卡</th>
					<th>办卡日期</th>
					<th>有效期</th>
					<th>卡片限额</th>
					<th>操作</th>
				</tr>
				<tr th:each="card:${session.AllCardList}">
					<td th:text="${card.real_name}"></td>
					<td th:text="${card.card_number}"></td>
					<td th:text="${card.id_card}"></td>
					<td th:text="${card.start_place}"></td>
					<td th:if="${card.currency} eq 2" th:text="人民币"></td>
					<td th:if="${card.currency} eq 1" th:text="美元"></td>
					<td th:text="${card.balance}"></td>
					<td th:text="${card.available_balance}"></td>
					<td th:text="${card.card_type}"></td>
					<td th:if="${card.card_state } eq 0" th:text="已注销"></td>
					<td th:if="${card.card_state } eq 1" th:text="正常"></td>
					<td th:if="${card.card_state } eq 2" th:text="已冻结"></td>
					<td th:if="${card.major_card } eq 0" th:text="主卡"></td>
					<td th:if="${card.major_card } eq 1" th:text="副卡"></td>
					<td th:text="${#dates.format(card.create_time,'yyyy-MM-dd HH:m:ss')}"></td>
					<td th:text="${card.effective_time}"></td>
					<td th:text="${card.max_price}"></td>
					<td><a th:href="@{'/shutDownCardAccount?id='+${card.id}+'&card_state='+2}" onClick="return confirm('确定要冻结该银行卡吗？');">冻结</a> <a th:href="@{'/shutDownCardAccount?id='+${card.id}+'&card_state='+0}" onClick="return confirm('确定要删除这张卡号吗？');">删除</a>
					<a th:href="@{'/shutDownCardAccount?id='+${card.id}+'&card_state='+1}" onClick="return confirm('确定要恢复这张银行卡吗？');">恢复</a>
					</td>
				</tr>
			</table>
			
			<!-- 页码 -->
		<div style="text-align: center;">
		<span style="font-size: 20px; position:absolute; left:400px; bottom:495px;">一共:<span th:text="${session.cardpage.total}"></span>条记录</span>
			<ul class="pagination">
											
				<li th:if="${session.cardpage.pageNum eq 1}" th:class="disabled"><a href="#">首页</a></li>
				<li th:if="${session.cardpage.pageNum ne 1}"><a href="javascript:void(0);" class="jump" th:data="1">首页</a></li>
				<li th:if="${session.cardpage.pageNum eq 1}" th:class="disabled"><a href="#">上一页</a></li>
				<li th:if="${session.cardpage.pageNum ne 1}"><a href="javascript:void(0);" class="jump" th:data="${session.cardpage.pageNum-1}">上一页</a></li>
				
					<!-- 这是页码 -->
				<th:block th:each="nav : ${session.cardpage.navigatepageNums}">
				<li th:class="${nav==session.cardpage.pageNum}?'active':''"><a th:text="${nav}" href="javascript:void(0);" class="jump" th:data="${nav}"></a></li>
				</th:block>
				<li th:if="${session.cardpage.pageNum eq session.cardpage.pages}" th:class="disabled"><a href="#">下一页</a></li>	
				<li th:if="${session.cardpage.pageNum ne session.cardpage.pages}"><a href="javascript:void(0);" class="jump" th:data="${session.cardpage.pageNum+1}">下一页</a></li>
				<li th:if="${session.cardpage.pageNum eq session.cardpage.pages}" th:class="disabled"><a href="#">尾页</a></li>	
				<li th:if="${session.cardpage.pageNum ne session.cardpage.pages}"	><a href="javascript:void(0);" class="jump" th:data="${session.cardpage.pages }">尾页</a></li>
			</ul>
		</div>
		
</body>
</html>
