<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="bootstrap/bootstrap.css">
<script type="text/javascript" src="scripts/jquery/jquery-1.7.1.js"></script>
<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
<script type="text/javascript" src="scripts/artDialog/artDialog.js?skin=default"></script>
<link rel="stylesheet" href="bootstrap/bootstrap-datetimepicker.css"></link>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<title>转账记录</title>
<script type="text/javascript">
	$(document).ready(function(){
		//显示日期
		$("#start,#end").datetimepicker({
			format: 'yyyy-mm-dd',
	    	   language:'zh-CN',
	    	   minView:2,
		});
		//给分页超链接绑定事件
		$(".juump").click(function(){
			$("#pia").val($(this).attr("data"));
			$("#asearchForm").submit();
		})
	});
</script>
<style>
	.alt td{ background:black !important;}
	#searchForm{position: relative;left:1%;}
	#jilu{position: relative;}
</style>



</head>
<body>	
	<div style="Margin:10px;">	
		<form action="/T_transger" name="searchForm" id="asearchForm" class="form-inline" method="post">			
				<div class="form-group">
					<label>&nbsp;&nbsp;&nbsp;&nbsp;转账人姓名</label> 
					<input type="text" class="form-control t_name" name="t_name" th:value="${session.transcondition.t_name}">
				</div>
				<div class="form-group">
					<label>收款人姓名</label> 
					<input type="text" class="form-control p_name" name="p_name" th:value="${session.transcondition.p_name}" />
				</div>
				<div class="form-group">
					<label>开始时间</label> <input type="text" class="form-control beginDate"
						name="beginDate" id="start" readonly="readonly" th:value="${#dates.format(session.transcondition.startTime,'yyyy-MM-dd')}" />
				</div>
				<div class="form-group">
					<label>结束时间</label> <input type="text" class="form-control endDate"
						id="end" readonly="readonly" name="endDate" th:value="${#dates.format(session.transcondition.endTime,'yyyy-MM-dd')}" />
				</div>
				
				<div class="form-group">
					<label>状态</label> 
					<select class="form-control" name="result" id="result">
						<option value="-1">全部</option>					
						<option value="1" th:selected="${session.transcondition.result eq 1}">转账成功</option>	
						<option value="0" th:selected="${session.transcondition.result eq 0}">转账失败</option>							
					</select>
				</div>
				<div class="form-group">
							<!-- 写一个隐藏域: -->
					<input type="hidden" name="page" value="1" id="pia" />&nbsp;
					<button type="submit" class="btn btn-success">查询</button>				
				</div>			
		</form>
	</div>					
						
			
	<div class="ui_content">
		<div class="ui_tb">					
			<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
				<tr>
					<th>ID</th>
					<th>转账人姓名</th>
					<th>转账人账号</th>
					<th>转账时间</th>
					<th>转账金额</th>
					<th>收款人姓名</th>
					<th>收款人账号</th>
					<th>手续费</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				<tr th:each="t_transger:${session.Transgerlist}">
					<td th:text="${t_transger.id}"></td>
					<td th:text="${t_transger.t_name}"></td>
					<td th:text="${t_transger.t_accout_number}"></td>
					<td th:text="${#dates.format(t_transger.t_time,'yyyy-MM-dd hh:mm:ss')}"></td>
					<td th:text="${t_transger.t_amount}"></td>
					<td th:text="${t_transger.p_name}"></td>
					<td th:text="${t_transger.p_accout_number}"></td>
					<td th:text="${t_transger.t_handfee}"></td>
					<td th:if="${t_transger.result} eq 0" th:text="转账失败"></td>
					<td th:if="${t_transger.result} eq 1" th:text="转账成功"></td>
					<td><a href="/delAccount?id=${T_transger.id}">删除</a></td>						
				</tr>		
			</table>
						
			<div style="text-align: center;">
			     <ul class="pagination">
					<li th:if="${session.tpage.pageNum eq 1}" th:class="disabled"><a href="#">首页</a></li>
					<li th:if="${session.tpage.pageNum ne 1}"><a href="javascript:void(0);" class="juump" th:data="1">首页</a></li>
					<li th:if="${session.tpage.pageNum eq 1}" th:class="disabled"><a href="#">上一页</a></li>
					<li th:if="${session.tpage.pageNum ne 1}"><a href="javascript:void(0);" class="juump" th:data="${session.tpage.pageNum-1}">上一页</a></li>
					
					<!-- 这是页码 -->
					<th:block th:each="nav:${session.tpage.navigatepageNums}">
						<li th:class="${nav==session.tpage.pageNum}?'active':''"><a th:text="${nav}" href="javascript:void(0);" class="juump" th:data="${nav}"></a></li>
					</th:block>
								
					<li th:if="${session.tpage.pageNum eq session.tpage.pages}" th:class="disabled"><a href="#">下一页</a></li>
					<li th:if="${session.tpage.pageNum ne session.tpage.pages}"><a href="javascript:void(0);" class="juump" th:data="${session.tpage.pageNum+1}">下一页</a></li>
					<li th:if="${session.tpage.pageNum eq session.tpage.pages}" th:class="disabled"><a href="#">尾页</a></li>
					<li th:if="${session.tpage.pageNum ne session.tpage.pages}"><a href="javascript:void(0);" class="juump" th:data="${session.tpage.pages}">尾页</a></li>									
				</ul>
				<div id="jilu">
					<span >一共:<span th:text="${session.tpage.total}"></span>条记录</span>
				</div>
			</div>
		</div>
	</div>				
</body>
</html>
					