<!DOCTYPE html>
<html lang="en">

<head>
    <title>账户申请</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- lightbox -->
    <link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all">
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
    <div id="header"></div>
    <!-- banner 2 -->
      <div>
	<!-- class="banner-2-agile" -->
	<img style="height: 420px; width:100%;" src="images/banner2.jpg" />
	</div>
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li>
                    <a href="index.html">主页</a>
                    <i>>></i>
                </li>
                <li>账户申请</li>
            </ul>
        </div>
    </div>
    <!-- //banner 2 -->
    <!-- about -->
    <!-- Gallery -->
    <div class="gallery">
        <div class="container">
            <h3 class="tittle">
                <span>账</span>户申<span>请</span>
            </h3>
            <div class="gallery-w3lsrow">
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab1.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab2.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab4.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab3.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab5.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab6.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g7.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g8.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab6.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/g7.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab3.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="images/tab2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="images/tab2.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //gallery -->
    <!--复用尾部-->
    <div id="footer"></div>

    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- Baneer-js -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function() {
           
            //复用头部JS
            $("#header").load("common/header.html");
            //复用尾部JS
            $("#footer").load("common/footer.html");
        });
    </script>
    <!-- //Baneer-js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- Progressive-Effects-Animation-JavaScript -->
    <script type="text/javascript" src="js/numscroller-1.0.js"></script>
    <!-- //Progressive-Effects-Animation-JavaScript -->
    <!--  light box js -->
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <!-- //light box js-->
    <!-- //js-scripts -->
</body>

</html>