<!DOCTYPE html>
<html lang="en">

<head>
    <title>查询明细</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
        <script type="text/javascript" src="js/jquery-2.1.3.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
     <script>
        $(function() {
            
            //复用头部JS
            $("#header").load("common/header.html");
            //复用尾部JS
            $("#footer").load("common/footer.html");
        });
    </script>
    <style type="text/css">
     #center {
            height: 900px;
            width: 70%;
        }
        
        #account {
            height: 900px;
            padding-top:100px;
            padding-left:100px;
        }
        
        #form {
            margin-left: 50px;
            width: 700px;
            height: 900px;
        }
        .form-control{
		width: 220px;
		display: inline;
		}
    </style>
   
</head>

<body>
    <!--复用头部-->
    <div id="header"></div>
    <!-- banner 2 -->
      <div>
	<!-- class="banner-2-agile" -->
	<img style="height: 420px; width:100%;" src="images/banner3.jpg" />
	</div>
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li>
                    <a href="index.html">主页</a>
                    <i>>></i>
                </li>
                <li>查询明细</li>
            </ul>
        </div>
    </div>
    <!-- //banner 2 -->
    <!-- about -->
    <!-- Gallery -->
    <div class="gallery">
        <div class="container">
            <h3 class="tittle">
                <span>查</span>询明<span>细</span>
            </h3>
            	<div id="center">
									
									<div id="account">
										<div id="form">
											<form class="form-horizontal" action="#" method="POST"
												id="newCollectionForm">						
												<div class="form-group">
													<label for="collection_accout" class="col-sm-3 control-label">收款账户</label>
													<div class="col-sm-6">											
														<select name="collection_accout" id="collection_accout"
															class="form-control ">
															<option value="1231231231231">1212131131313131</option>
															<option value="1231231231231">1212131131313131</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label for="collecting_type" class="col-sm-3 control-label">收款方式</label>
													<div class="col-sm-6">
														<select name="collecting_type" id="collecting_type"
															class="form-control ">
															<option value="1">保留余额</option>
														</select>
													</div>
												</div>
												
												<div class="form-group">
													<label for="debit_account" class="col-sm-3 control-label">归集卡号</label>										
														<div class="col-sm-6">										
														 <select name="debit_account" id="debit_account"
															class="form-control ">
															<option value="1231231231231">1212131131313131</option>
															<option value="1231231231231">1212131131313131</option>
														 </select>
														</div>
													
												</div>
												<!-- 用户名自动识别 -->
												<div class="form-group">
													<label for="receiver_name" class="col-sm-3 control-label">用户名</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="receiver_name"
															name="receiver_name">
													</div>
												</div>
												<!-- 所属银行 -->
												<div class="form-group">
													<label for="bank_id" class="col-sm-3 control-label">所属银行</label>
													<div class="col-sm-6">
														<select name="bank_id" id="bank_id"
															class="form-control ">
															<option value="1">中国建设银行</option>
															<option value="2">中国银行</option>
															<option value="3">中国邮政储蓄</option>
															<option value="4">中国农业银行</option>
															<option value="5">中国招商银行</option>
														</select>
													</div>
												</div>									
												<!-- 选择保留余额时 -->
												<div class="form-group">
													<label for="transferred_money" class="col-sm-3 control-label">保留金额</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="transferred_money"
															name="transferred_money">
													</div>
												</div>
												
												<!-- 继续添加归集账户 -->
												<div class="form-group">
													<label for="debit_account2" class="col-sm-3 control-label">继续添加归集账户</label>
													<div class="col-sm-6">								
															
														 <select name="debit_account2" id="debit_account2"
															class="form-control ">
															<option value="1231231231231">1212131131313131</option>
															<option value="1231231231231">1212131131313131</option>
														 </select>
													</div>
												</div>
												<!-- 协议生效时间 -->
												<div class="form-group">
													<label for="debit_account2" class="col-sm-3 control-label">协议生效时间</label>
													<div class="col-sm-6">								
															<input type="text" class="form-control" id="start_time" readonly="readonly" 
															name="start_time">
													</div>
												</div>
												<!-- 协议期限 -->
												<div class="form-group">
													<label for="financial_number" class="col-sm-3 control-label">协议期限</label>
													<div class="col-sm-6">								
															<select name="financial_number" id="financial_number"
															class="form-control ">
															<option value="1">一个月</option>
															<option value="2">三个月</option>
															<option value="3">六个月</option>
															<option value="4">十二个月</option>
														</select>
													</div>
												</div>
												<!-- 短信通知手机号 -->
												<div class="form-group">
													<label for="debit_tel" class="col-sm-3 control-label">短信通知手机号</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="debit_tel"
															name="debit_tel">
													</div>
													<div class="col-sm-6">
													</div>
												</div>
												
											
												<div class="form-group">
					                                <label for="" class="col-sm-3 control-label">附言</label>
					                                <div class="col-sm-8">
					                                    <textarea  class="form-control" rows="3"> 客户使用个人账户资金网上自动归集服务的，应按照1个月2元、3个月6元、6个月10元、12个月18元的标准向我行支付个人账户资金网上自动归集服务费                         
					                                    </textarea>					
					                                </div>
				                            	</div>

												
											</form>
										</div>
									</div>
								</div>
        </div>
    </div>
    <!-- //gallery -->
    <!--复用尾部-->
    <div id="footer"></div>

   
</body>

</html>