<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>查询明细</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
        <script type="text/javascript" src="js/jquery-2.1.3.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
     <script>
        $(function() {
            
            //复用头部JS
            $("#header").load("toHeader?value=collection");
            //复用尾部JS
            $("#footer").load("common/footer.html");
            
            //点击明细按钮
            $("#DetailsBtn").click(function(){
            	$("#showDetails").toggle();
            })
            //点击新建归集按钮
            $("#addNewCollection").click(function(){
            	location.href="/newcollection"
            })
        });
    </script>
    <style type="text/css">
     #center {
            height: 900px;
            width: 70%;
        }
        
        #account {
            height: 900px;
            padding-top:100px;
            padding-left:100px;
        }
        
        #form {
            margin-left: 50px;
            width: 700px;
            height: 900px;
        }
        .form-control{
		width: 220px;
		display: inline;
		}
    </style>
   
</head>

<body>
    <!--复用头部-->
    <div id="header"></div>
    <!-- banner 2 -->
      <div>
	<!-- class="banner-2-agile" -->
	<img style="height: 420px; width:100%;" src="images/banner3.jpg" />
	</div>
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li>
                    <a href="/problemList">主页</a>
                    <i>>></i>
                </li>
                <li>查询明细</li>
            </ul>
        </div>
    </div>
    <!-- //banner 2 -->
    <!-- about -->
    <!-- Gallery -->
    <div class="gallery">
        <div class="container">
            <h3 class="tittle">
                <span>查</span>询明<span>细</span>
            </h3>
            	<div id="center" th:if="${session.isHaveCard} eq true" >								
									<div id="account">
										<div id="form">
											<form class="form-horizontal" action="#" method="POST"
												id="newCollectionForm">						
												<!-- 参与协议卡（账）号 -->
												<div class="form-group">
													<label for="collection_accout" class="col-sm-4 control-label">参与协议卡号（主卡）收款账户</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="collection_accout"
															name="collection_accout" th:value="${session.cashSweep.collection_accout}" readonly="readonly">
															
													</div>
												</div>
												
												<!-- 服务项目 -->
												<div class="form-group">
													<label for="service_items" class="col-sm-4 control-label">服务项目</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="service_items" readonly="readonly"
															name="service_items" th:value="${session.cashSweep.service_items}">
													</div>
												</div>
												<!-- 协议期限 理财序号 -->
												<div class="form-group">
													<label for="financial_number" class="col-sm-4 control-label">协议期限</label>
													<div class="col-sm-6" th:switch="${session.cashSweep.financial_number}">
														<input type="text" class="form-control" id="financial_number" readonly="readonly"
															name="financial_number" th:case="1" value="一个月" >
														<input type="text" class="form-control" id="financial_number" readonly="readonly"
															name="financial_number" th:case="2" value="三个月" >
														<input type="text" class="form-control" id="financial_number" readonly="readonly"
															name="financial_number" th:case="3" value="六个月" >
														<input type="text" class="form-control" id="financial_number" readonly="readonly"
															name="financial_number" th:case="*" value="十二个月" >
													</div>
												</div>
												<!-- 卡（账）号 -->
												<div class="form-group">
													<label for="debit_account" class="col-sm-4 control-label">参与协议卡号（副卡）扣款账户 </label>
													<div class="col-sm-6">
														 <select name="debit_account" id="debit_account"
															class="form-control ">														
															<option th:each="cashSweep2:${session.collectionList}" th:value="${cashSweep2.debit_account}" th:text="${cashSweep2.debit_account}"></option>															
														 </select>
													</div>
												</div>
												<!-- 服务生效时间 -->
												<div class="form-group">
													<label for="start_time" class="col-sm-4 control-label">服务生效时间</label>
													<div class="col-sm-6">								
															<input type="text" class="form-control" id="start_time" readonly="readonly" 
															name="start_time" th:value="${#dates.format(session.cashSweep.start_time,'yyyy-MM-dd')}">
													</div>
												</div>
												<!-- 服务失效时间 -->
												<div class="form-group">
													<label for="end_time" class="col-sm-4 control-label">服务失效时间</label>
													<div class="col-sm-6">								
															<input type="text" class="form-control" id="end_time" readonly="readonly" 
															name="end_time" th:value="${#dates.format(session.cashSweep.end_time,'yyyy-MM-dd')}">
													</div>
												</div>
												
												<div class="form-group">
													<label for="ColDetails" class="col-sm-4 control-label"></label>
													<div class="col-sm-6">								
															<input type="button" class="btn btn-success" id="DetailsBtn"
															 value="明细">											 
													</div>
												</div>
												<div style="display: none;" id="showDetails">
												<!-- 当前状态-->
												<div class="form-group">
													<label for="state" class="col-sm-4 control-label">当前状态</label>
													<div class="col-sm-6" th:switch="${session.cashSweep.state}">								
															<input type="text" class="form-control" id="state" readonly="readonly"
															name="state" th:case="0" value="正常" >
															<input type="text" class="form-control" id="state" readonly="readonly"
															name="state" th:case="*" value="失效" >
													</div>
												</div>
												<!-- 用户名 -->
												<div class="form-group">
													<label for="receiver_name" class="col-sm-4 control-label">用户名</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="receiver_name" readonly="readonly"
															name="receiver_name" th:value="${session.cashSweep.receiver_name}">
													</div>
												</div>
												<!-- 归集方式 -->
												<div class="form-group">
													<label for="collecting_type" class="col-sm-4 control-label">归集方式</label>
													<div class="col-sm-6">
														<select name="collecting_type" id="collecting_type"
															class="form-control ">
															<option value="0">保留余额</option>
															<option value="1">定期转入</option>
														</select>
													</div>
												</div>
												<!-- 所属银行 -->
												<div class="form-group">
													<label for="bank_id" class="col-sm-4 control-label">所属银行</label>
													<div class="col-sm-6" >
														<select name="bank_id" id="bank_id"
															class="form-control ">																
															<option th:selected="${session.cashSweep.bank_id eq '1'}">建设银行</option>	
															<option th:selected="${session.cashSweep.bank_id eq '2'}">工商银行</option>		
															<option th:selected="${session.cashSweep.bank_id eq '3'}">农商银行</option>
															<option th:selected="${session.cashSweep.bank_id eq '4'}">邮政银行</option>		
															<option th:selected="${session.cashSweep.bank_id eq '999'}">乔治银行</option>											
														</select>
													</div>
												</div>
												
												<!-- 保留余额 -->
												<div class="form-group">
													<label for="transferred_money" class="col-sm-4 control-label">保留金额</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="transferred_money" readonly="readonly"
															name="transferred_money" th:value="${session.cashSweep.transferred_money}">
													</div>
												</div>
											
												<!-- 短信通知手机号 -->
												 <div class="form-group">
													<label for="debit_tel" class="col-sm-4 control-label">短信通知手机号</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" id="debit_tel" readonly="readonly"
															name="debit_tel" th:value="${session.cashSweep.debit_tel}">													
													</div>
													
												</div> 
											  </div>		
											</form>
										</div>
									</div>
								</div>
								
								<!-- 规则 -->
								<div th:if="${session.isHaveCard} eq false">
								<ul class="ul_liebiao">
									<li class="li_liebiao0" style="list-style-type: none;">
										<div class="liebiao_div mb_20">
											<h3 class="pbd_table_step_title_no_line mt_30 mb_20">
												<span class="pl_0">当前资金归集规则列表共<strong class="fc_red">
														0 </strong>个资金归集规则
												</span> <span id="nolist_span" class="pl_0">
													，您可以通过点击"新增归集"按钮设置资金归集规则。</span>
											</h3>

											<div id="nolist" >
												<div
													style="text-align: center; margin-bottom: 40px; margin-top: 30px;">
													<input class="btn mr_15"
														type="button" value="新增归集" id="addNewCollection">
												</div>
											</div>
											
										</div>
									</li>
								</ul>
							   </div>
        </div>
    </div>
    <!-- //gallery -->
    <!--复用尾部-->
    <div id="footer"></div>

   
</body>

</html>