<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>开户网点</title>
<!-- CSS goes in the document HEAD or added to your external stylesheet -->
	<style type="text/css">
	table.gridtable {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #666666;
		border-collapse: collapse;
	}
	table.gridtable th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #dedede;
	}
	table.gridtable td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #ffffff;
	}
	</style>
</head>
<link rel="stylesheet" href="localhost:8888/static/bootstrap/bootstrap.css" type="text/css" />
<body>

	<!-- Table goes in the document BODY -->
	<table class="gridtable">
		<tr>
			
			<th>卡号</th>
			<th>开户地区</th>
			<th>开户网点名</th>
			<th>网点号</th>
			<th>联系电话</th>
			<th>网点地址</th>
		</tr>
		<tr>
			<td th:text="${card.id_card}"></td>
			<td th:text="${openDot.open_place}"></td>
			<td th:text="${openDot.open_dot}"></td>
			<td th:text="${openDot.dot_number}"></td>
			<td th:text="${openDot.telephone}"></td>
			<td th:text="${openDot.dot_place}"></td>
		</tr>
	</table>
	
</body>
</html>