<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>测试</title>
</head>
<link rel="stylesheet" href="localhost:8888/static/bootstrap/bootstrap.css" type="text/css" />
<body>
	<div class="container">
		<div class="page-header">
			<h1>明细</h1>
		</div>
		<div>
			<form action="${pageContext.request.contextPath }/EmpServlet"
				class="form-inline" id="queryForm">
				<div class="form-group">
					<label for="time">起止日期</label> <input type="text"
						class="form-control" id="start" name="start" readonly="readonly"
						value='<fmt:formatDate value="${condition.start }"  pattern="yyyy-MM-dd"/>'>
					到 <input type="text" id="end" class="form-control" name="end"
						readonly="readonly"
						value='<fmt:formatDate value="${condition.end }"  pattern="yyyy-MM-dd"/>'>
				</div>
				<div class="form-group">
					<label for="job">范围</label> <select id="job" name="job"
						class="form-control">
						<option value="全部">全部</option>
						<!-- th:each -->
					</select>
				</div>
				<div class="form-group">
					<label for="dept">资金流向</label> <select id="dept" name="dept"
						class="form-control">
						<option value="-1">全部</option>
						<!-- th:each -->
					</select>
				</div>
				
				<!-- 写一个隐藏域: -->
				<input type="hidden" name="pageIndex" value="1" id="pi" />
				<button type="submit" class="btn btn-success">查询</button>
			</form>
		</div>

		<div class="table-bordered"
			style="border-radius: 5px; margin-top: 20px;">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th>员工编号</th>
						<th>员工姓名</th>
						<th>岗位</th>
						<th>上级领导</th>
						<th>上岗日期</th>
						<th>薪水</th>
						<th>奖金</th>
						<th>所在部门</th>
					</tr>
				</thead>
				<tbody>
					<c:forEach items="${pages.datas }" var="emp">
						<tr>
							<td>${emp.empno }</td>
							<td>${emp.ename }</td>
							<td>${emp.job }</td>
							<td>${emp.mgr }</td>
							<td>${emp.hiredate }</td>
							<td>${emp.sal }</td>
							<td>${emp.comm }</td>
							<td>${emp.dept }</td>
						</tr>
					</c:forEach>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="8" align="center">
							<div>
								<ul class="pagination">
									<c:choose>
										<c:when test="${pages.pageIndex == 1 }">
											<li class="disabled"><a href="#">首页</a></li>
											<li class="disabled"><a href="javascript:void(0);">上一页</a></li>
										</c:when>
										<c:otherwise>
											<li><a href="javascript:void(0);" class="jump" data="1">首页</a></li>
											<li><a href="javascript:void(0);" class="jump"
												data="${pages.pageIndex-1 }">上一页</a></li>
										</c:otherwise>
									</c:choose>


									<!-- 这是页码 -->
									<!-- 如果总页数小于等于10 -->
									<c:set value="1" var="startPage"></c:set>
									<c:set value="${pages.totalPages }" var="endPage"></c:set>
									<c:if test="${pages.totalPages > 10 }">
										<c:set value="${pages.pageIndex - 5 }" var="startPage"></c:set>
										<c:set value="${pages.pageIndex + 4 }" var="endPage"></c:set>
										<c:if test="${startPage < 1 }">
											<c:set value="1" var="startPage"></c:set>
											<c:set value="${startPage + 9 }" var="endPage"></c:set>
										</c:if>
										<c:if test="${endPage >pages.totalPages  }">
											<c:set value="${pages.totalPages }" var="endPage"></c:set>
											<c:set value="${endPage - 9 }" var="startPage"></c:set>
										</c:if>
									</c:if>
									<c:forEach begin="${startPage}" end="${endPage}" var="i">
										<c:choose>
											<c:when test="${i == pages.pageIndex }">
												<li class="active"><a href="#">${i } </a></li>
											</c:when>
											<c:otherwise>
												<li><a href="javascript:void(0);" class="jump"
													data="${i }">${i} </a></li>
											</c:otherwise>
										</c:choose>

									</c:forEach>
									<c:choose>
										<c:when test="${pages.pageIndex == pages.totalPages }">
											<li class="disabled"><a href="#">下一页</a></li>
											<li class="disabled"><a href="#">最后一页</a></li>
										</c:when>
										<c:otherwise>
											<li><a href="javascript:void(0);" class="jump"
												data="${pages.pageIndex+1 }">下一页</a></li>
											<li><a href="javascript:void(0);" class="jump"
												data="${pages.totalPages }">最后一页</a></li>

										</c:otherwise>

									</c:choose>
								</ul>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		</div>
	</div>
</body>
</html>