<!DOCTYPE html>
<html lang="en">

<head>
    <title>我的账户</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
    <!--复用头部-->
    <div id="header"></div>
    
    <!-- banner 2 -->
      <div>
	<!-- class="banner-2-agile" -->
	<img style="height: 420px; width:100%;" src="images/banner1.jpg" />
	</div>
	
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li>
                    <a href="index.html">主页</a>
                    <i>>></i>
                </li>
                <li>我的账户</li>
            </ul>
        </div>
    </div>
    <!-- //banner 2 -->
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <h3 class="tittle">
                <span>我</span>的账<span>户</span>
            </h3>
            <span class="w3l-head"></span>
            <div class="col-md-6 agileits_works-grid1">
                <img src="images/4.jpg" alt="" />
            </div>
            <div class="col-md-6 agileits_works-grid">
                <div class="wthree-text">
                    <h6 class="subheading-w3ls">Our Mission</h6>
                    <p class="para-w3-agileits w3l2">As one of the oldest home and office remodeling companies in the city, we have a very special feeling that our duty is to be the best!</p>
                    <p class="para-w3-agileits">Each single remodeling or renovation project that we take puts our unique project management system to a test. This kind of a complex take on both home and apartment remodeling projects includes a detailed project overview, constant
                        client communication, an advanced invoicing system, a weekly delay guarantee, and other advantages that you will just love working with us!</p>
                    <a href="about.html" class="link-w3l1">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- Stats -->
    <div class="stats-w3layouts">
        <div class="container">
            <h5>Check Out Our Awesome Statistics
                <span>& Hire Now</span>
            </h5>
            <div class="stats-agileinfo agileits-w3layouts">
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9570' data-delay='.5' data-increment="100">9570</div>
                    <h6>LIKES</h6>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
                    <h6>PROJECTS</h6>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='5000' data-delay='.5' data-increment="10">5000</div>
                    <h6>REVIEWS</h6>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='110' data-delay='8' data-increment="1">50</div>
                    <h6>CLIENTS</h6>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Stats -->
    <!-- what we do -->
    <div class="what-agile">
        <div class="container">
            <h3 class="tittle">
                <span>W</span>hat we D<span>o</span>
            </h3>
            <div class="col-xs-4 w3l-content">
                <div class="img-content">
                    <img src="images/w4.jpg" alt="" />
                    <div class="align-w3l">
                        <h6>We Design Beautiful Interiors</h6>
                        <p>Home -- New Design</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 w3l-content">
                <div class="img-content">
                    <img src="images/w3.jpg" alt="" />
                    <div class="align-w3l">
                        <h6>We Design Beautiful Interiors</h6>
                        <p>Home -- New Design</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 w3l-content">
                <div class="img-content">
                    <img src="images/w2.jpg" alt="" />
                    <div class="align-w3l">
                        <h6>We Design Beautiful Interiors</h6>
                        <p>Home -- New Design</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //what we do -->
    <!-- team -->
    <div class="team">
        <div class="container">
            <h3 class="tittle">
                <span>O</span>ur Tea<span>m</span>
            </h3>
            <div class="team-agileinfo agileits-w3layouts">
                <div class="col-md-6 team-grid w3-agileits">
                    <div class="team-grid-right">
                        <img src="images/t1.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="team-grid-left">
                        <h4>Incidunt</h4>
                        <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 team-grid w3-agileits">
                    <div class="team-grid-right aliquam">
                        <img src="images/t2.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="team-grid-left non">
                        <h4>Aliquam</h4>
                        <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="team-agileinfo">
                <div class="col-md-6 team-grid w3-agileits">
                    <div class="team-grid-right">
                        <img src="images/t5.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="team-grid-left">
                        <h4>Numqam</h4>
                        <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 team-grid w3-agileits">
                    <div class="team-grid-right aliquam">
                        <img src="images/t4.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="team-grid-left non">
                        <h4>Kmajase</h4>
                        <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!--复用尾部-->
    <div id="footer"></div>

    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- Baneer-js -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function() {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function() {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function() {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
            //复用头部JS
            $("#header").load("common/header.html");
            //复用尾部JS
            $("#footer").load("common/footer.html");
        });
    </script>
    <!-- //Baneer-js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- Progressive-Effects-Animation-JavaScript -->
    <script type="text/javascript" src="js/numscroller-1.0.js"></script>
    <!-- //Progressive-Effects-Animation-JavaScript -->

    <!-- //js-scripts -->
</body>

</html>