<!DOCTYPE html>
<html lang="en">

<head>
<title>我的账户</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
        //控制按钮跳转
        function jump1(){
       	 window.location.href="https://www.baidu.com";
       	}
        function jump2(){
          	 window.location.href="https://www.baidu.com";
          	}
        function jump3(){
         	 window.location.href="https://www.baidu.com";
         	}
        function jump4(){
         	 window.location.href="https://www.baidu.com";
         	}
        function jump5(){
        	 window.location.href="https://www.baidu.com";
        	}
</script>

<!--// Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!-- Style-CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- web-fonts -->
<link
	href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900"
	rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	rel="stylesheet">
<!-- //web-fonts -->
</head>

<body>
	<!--复用头部-->
	<div id="header"></div>

	<!-- banner 2 -->
	<div>
		<!-- class="banner-2-agile" -->
		<img style="height: 420px; width: 100%;" src="images/banner1.jpg" />
	</div>

	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<ul class="w3_short">
				<li><a href="index.html">主页</a> <i>>></i></li>
				<li>我的账户</li>
			</ul>
		</div>
	</div>
	<!-- //banner 2 -->
	<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<h3 class="tittle">
				<span>我</span>的账<span>户</span>
			</h3>
			<span class="w3l-head">账户资料</span>
			<table class="table table-striped">
				<tr>
					<td>id</td>
					<td>用户名</td>
					<td>用户真实姓名</td>
					<td>证件类型</td>
					<td>证件号码</td>
					<td>姓名拼音</td>
					<td>手机号</td>
					<td>注册方式</td>
					<td>客户级别</td>
					<td>英文名</td>
					<td>性别</td>
					<td>客户民族</td>
					<td>客户国籍</td>
					<td>出生年月</td>
					<td>婚姻状况</td>
					<td>教育程度</td>
					<td>职业</td>
					<td>所属行业</td>
					<td>技术职称</td>
					<td>行政级别</td>
					<td>供养人口</td>
					<td>工作单位</td>
					<td>进入单位时间</td>
					<td>用户状态</td>
					<td>开户行</td>
				</tr>
				<tr>
					<td th:text="${session.user.id}"></td>
					<td th:text="${session.user.user_name}"></td>
					<td th:text="${session.user.real_name}"></td>
					<td th:text="${session.user.card_type}"></td>
					<td th:text="${session.user.card_number}"></td>
					<td th:text="${session.user.xingming}"></td>
					<td th:text="${session.user.phone}"></td>
					<td th:text="${session.user.reg_type}"></td>
					<td th:text="${session.user.grade}"></td>
					<td th:text="${session.user.english_name}"></td>
					<td th:text="${session.user.sex}"></td>
					<td th:text="${session.user.nation}"></td>
					<td th:text="${session.user.nationality}"></td>
					<td th:text="${session.user.birthday}"></td>
					<td th:text="${session.user.marital_status}"></td>
					<td th:text="${session.user.edu_level}"></td>
					<td th:text="${session.user.profession}"></td>
					<td th:text="${session.user.industry}"></td>
					<td th:text="${session.user.technical_title}"></td>
					<td th:text="${session.user.adminstrative_level}"></td>
					<td th:text="${session.user.supporting_population}"></td>
					<td th:text="${session.user.work_unit}"></td>
					<td th:text="${session.user.work_time}"></td>
					<td th:text="${session.user.state}"></td>
					<td th:text="${session.user.create_bank}"></td>
				</tr>
			</table>
		</div>
	</div>
	<!-- //about -->
	<!-- Stats -->
	<div class="stats-w3layouts">
		<div class="container">
			<h5>
				zhesh <span>& Hire Now</span>
			</h5>
			<div class="stats-agileinfo agileits-w3layouts">
				<div class="col-sm-3 col-xs-3 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1'
						data-min='0' data-max='9570' data-delay='.5' data-increment="100">9570</div>
					<h6>LIKES</h6>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1'
						data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
					<h6>PROJECTS</h6>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1'
						data-min='0' data-max='5000' data-delay='.5' data-increment="10">5000</div>
					<h6>REVIEWS</h6>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid">
					<div class='numscroller numscroller-big-bottom' data-slno='1'
						data-min='0' data-max='110' data-delay='8' data-increment="1">50</div>
					<h6>CLIENTS</h6>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //Stats -->
	<!-- what we do -->
	<div class="what-agile">
		<div class="container">
			<span class="w3l-head">银行卡资料</span>
			<table class="table table-striped">
				<tr>
					<td>id</td>
					<td>用户名</td>
					<td>用户真实姓名</td>
					<td>证件类型</td>
					<td>证件号码</td>
					<td>姓名拼音</td>
					<td>手机号</td>
				</tr>
				<tr th:each="card:${session.cards}">
					<td th:text="${card.id}"></td>
					<td th:text="${card.id_card}"></td>
					<td th:text="${card.start_place}"></td>
					<td th:text="${card.currency}"></td>
					<td th:text="${card.balance}"></td>
					<td th:text="${card.available_balance}"></td>
					<td th:text="${card.start_place_id}"></td>
				</tr>
			</table>
			<br /> <input type="button" value="明细" onclick=javascrtpt:jump1()>
			<input type="button" value="汇款" onclick=javascrtpt:jump2()>
			<input type="button" value="开户网点" onclick=javascrtpt:jump3()>
			<input type="button" value="更多" onclick=javascrtpt:jump4()>
		</div>
	</div>
	<!-- //what we do -->
	<!-- team -->
	<div class="team">
		<div class="container">
			<span class="w3l-head">银行卡操作-></span>
			<input type="button" value="添加银行卡" onclick=javascrtpt:jump5()>
		</div>
	</div>
	<!-- //team -->
	<!--复用尾部-->
	<div id="footer"></div>

	<!-- js-scripts -->
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- Baneer-js -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
        $(function() {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function() {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function() {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
            //复用头部JS
            $("#header").load("common/header.html");
            //复用尾部JS
            $("#footer").load("common/footer.html");
        });
    </script>
	<!-- //Baneer-js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
	<!-- start-smoth-scrolling -->
	<!-- Progressive-Effects-Animation-JavaScript -->
	<script type="text/javascript" src="js/numscroller-1.0.js"></script>
	<!-- //Progressive-Effects-Animation-JavaScript -->

	<!-- //js-scripts -->
</body>

</html>