<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>转账汇款</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!--// Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- Font-Awesome-Icons-CSS -->
<link href="css/easy-responsive-tabs.css" rel='stylesheet'
	type='text/css' />
<!-- For-tabs-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/jquery.bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-datetimepicker.css"></link>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript"
	src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="js/messages_zh.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<!-- Style-CSS -->
<style>
#left-menu {
	height: 800px;
	width: 30%;
	float: left;
}

#menu {
	margin-top: 100px;
	width: 200px;
	height: 200px;
	margin-left: 120px;
}

#center {
	height: 900px;
	width: 70%;
	float: right;
}

#account {
	height: 700px;
}

#form {
	margin-left: 50px;
	width: 700px;
	height: 800px;
}
</style>
<!-- //css files -->
<!-- web-fonts -->
<link
	href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900"
	rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	rel="stylesheet">
<!-- //web-fonts -->
</head>
<script type="text/javascript">
	$(function() {
		//复用头部JS
		$("#header").load("toHeader?value=transfer");
		//复用尾部JS
		$("#footer").load("common/footer.html");
		//激活导航条
		//验证表单
		$("#registerAccountTransferForm").validate({
			rules : {
				realName : {
					required : true,
				},
				documentNum : {
					required : true
				},
				phone : {
					required : true,
					remote : {
						url : "/checkPhone",
						type : "post"
					}
				},
				code : {
					required : true,
					remote : {
						url : "/checkCode",
						type : "post"
					}
				},
				imgCode : {
					required : true,
					remote : {
						url : "/checkImgCode",
						type : "post"
					}
				}
			},
			messages : {
				realName : {
					required : "真实姓名不能为空!!",
				},
				documentNum : {
					required : "证件号不能为空!!"
				},
				phone : {
					required : "手机号不能为空",
					remote : "手机号与绑定的手机号不一致"
				},
				code : {
					required : "手机验证码不能为空",
					remote : "手机验证码错误,请重新输入"
				},
				imgCode : {
					required : "图片验证码不能为空",
					remote : "验证码有误,请重新输入"
				}
			},
			submitHandler : function(form) {
				if ($("#receivingAccount").val() == $("#paymentAccount").val()) {
					alert("转入卡号与转出卡号不能一样!!");
					return;
				}
				checkBalance();
			},
			errorClass : "text-danger",
			highlight : function(element) {
				$(element).closest("div.form-group").addClass("has-error");
			},
			unhighlight : function(element) {
				$(element).closest("div.form-group").removeClass("has-error");
			}
		});
		//检查余额是否足够
		function checkBalance() {
				$("#inputPassword").modal();
		}
		//显示余额
		$("#paymentAccount").change(function() {
			$.ajax({
				dataType : "json",
				url : "/showBalance?id_card=" + $(this).val(),
				success : function(rs) {
					$("#balance").val(rs.balance);
				}
			});
		});
		//验证密码
		$("#checkPassword").click(
				
				function() {
					if ($("#codeTime").val() == "3") {
						alert("银行卡已冻结,请联系管理员");
						return;
					}
					$.ajax({
						dataType : "json",
						url : "/checkPassword?password=" + $("#password").val()
								+ "&id_card=" + $("#paymentAccount").val(),
						success : function(rs) {
							if (rs.success) {
								$("#registerAccountTransferForm").ajaxSubmit({
									dataType : "json",
									success : function(rs) {
										if (rs.success) {
											$.messager.alert("处理成功!!");
											location.href = "index.html";
										} else {
											$.messager.alert("友情提示", rs.msg);
										}
									}
								});
							} else {
								alert("密码错误!!请重新输入密码");
								$("#codeTime").val(
										parseInt($("#codeTime").val()) + 1);
								
							}
						}

					});

				});

		//发送手机验证码
		$("#sendCode").click(function() {
			var _this = $(this);
			var phone = $("#phone").val();
			$.ajax({
				dataType : "json",
				type : "POST",
				url : "/checkPhone?phone=" + phone,
				success : function(rs) {
					if (rs) {
						$.ajax({
							dataType : "json",
							type : "POST",
							url : "/sendMssage?phone=" + phone,
							success : function(rs) {

								if (rs.success) {
									alert("验证码已成功发送到你的手机上,请注意查收!!");
									var sec = 90;
									var timer = setInterval(function() {
										sec--;
										if (sec > 0) {
											_this.text(sec + "秒后重新发送验证码");
										} else {
											clearInterval(timer);
											_this.attr("disabled", false);
											_this.text("重新发送验证码");
										}
									}, 1000);
								}
							}
						});
					} else {
						alert("请正确填写手机号!!");

					}
				}
			});
		});
		
	});
</script>
<body>
	<!--复用头部-->
	<div id="header"></div>

	<!-- banner 2 -->
	<div>
		<!-- class="banner-2-agile" -->
		<img style="height: 420px; width: 100%;" src="images/banner7.jpg" />
	</div>
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<ul class="w3_short">
				<li><a href="/problemList">主页</a> <i>>></i></li>
				<li>注册账户汇款</li>
			</ul>
		</div>
	</div>
	<!-- //banner 2 -->
	<!-- about bottom -->
	<div class="about-bottom-agile">
		<div class="container">
			<div class="container">
				<div id="left-menu">
					<div id="menu">
						<div class="list-group">
							<a href="/toSingleTransfer" class="list-group-item ">单笔汇款</a> <a
								href="javascript::" class="list-group-item active">注册账户汇款</a> <a
								href="toBatchTransfer" class="list-group-item">批量汇款</a> <a
								href="toCrossBorderTransfer" class="list-group-item">跨境汇款</a>
						</div>
					</div>
				</div>
				<div id="center">
					<h3 class="tittle">
						<span>注</span>册账户汇<span>款</span>
					</h3>
					<div id="account">
						<div id="form">
							<form class="form-horizontal" action="/registerAccountTransfer"
								method="POST" id="registerAccountTransferForm">
								<input type="hidden" id="test"/>
								<div class="form-group">
									<label for="receivingAccount" class="col-sm-2 control-label">转入卡号</label>
									<div class="col-sm-8">
										<select name="receivingAccount" id="receivingAccount"
											class="form-control ">
											<option th:each="card:${cards}" th:value="${card.id_card}"
												th:text="${card.id_card}"></option>
										</select>
									</div>									
								</div>
								<div class="form-group">
									<label for="paymentAccount" class="col-sm-2 control-label">转出卡号</label>
									<div class="col-sm-8">
										<select name="paymentAccount" id="paymentAccount"
											class="form-control ">
											<option th:each="card:${cards}" th:value="${card.id_card}"
												th:text="${card.id_card}"></option>
										</select>
									</div>
								</div>
								
								<div class="form-group">
									<label for="balance" class="col-sm-2 control-label">余额</label>
									<div class="col-sm-6">

										<input type="text" class="form-control" id="balance"
											name="balance" th:value="${cards[0].balance}">
									</div>
								</div>
								<div class="form-group">
									<label for="realName" class="col-sm-2 control-label">真实姓名</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="realName"
											name="realName">
									</div>
								</div>
								<div class="form-group">
									<label for="documentType" class="col-sm-2 control-label">证件类型</label>
									<div class="col-sm-8">
										<select name="documentType" id="documentType"
											class="form-control ">
											<option th:each="document:${documents}"
												th:value="${document.id}"
												th:text="${document.document_name}"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="documentNum" class="col-sm-2 control-label">证件号码</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="documentNum"
											name="documentNum">
									</div>
								</div>
								<div class="form-group">
									<label for="phone" class="col-sm-2 control-label">绑定的手机号</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="phone"
											name="phone">
									</div>
									<div class="col-sm-2">
										<a href="javascript::" class="btn btn-info form-group" id="sendCode">点击发送验证码</a>
									</div>
								</div>

								<div class="form-group">
									<label for="code" class="col-sm-2 control-label">验证码</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" name="code" />
									</div>
								</div>



								<div class="form-group">
									<label for="imgCode" class="col-sm-2 control-label">请输入图片中的验证码</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" name="imgCode"
											id="imgCode">
									</div>
									<div class="col-sm-4">
										<img alt="验证码"
											onclick="this.src='/defaultKaptcha?d='+new Date()*1"
											src="/defaultKaptcha" /><br />
									</div>
								</div>

								<div class="form-group ">
									<div class="col-sm-6">
										<div id="vifyCodeError"></div>
									</div>
								</div>
								<div class="form-group ">
									<div class="col-sm-offset-8 col-sm-10 ">
										<button type="submit" class="btn btn-default">确认转账</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="inputPassword" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">输入密码</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="checkPasswordForm" method="post"
						action="/checkPassword">
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">密码 </label>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="password"
									name="password" />
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<input type="hidden" value="0" id="codeTime" />
					<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
					<button type="button" class="btn btn-primary" id="checkPassword">确认汇款</button>
				</div>
			</div>
		</div>
	</div>
	<!--复用尾部-->
	<div id="footer"></div>


</body>

</html>