<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>转账汇款</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />


<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/jquery.bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-datetimepicker.css"></link>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript"
	src="js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="js/messages_zh.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<!--// Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!-- Style-CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- web-fonts -->
<link
	href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900"
	rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	rel="stylesheet">
<style>
#left-menu {
	height: 800px;
	width: 30%;
	float: left;
}

#menu {
	margin-top: 100px;
	width: 200px;
	height: 200px;
	margin-left: 120px;
}

#center {
	height: 800px;
	width: 70%;
	float: right;
}

#account {
	height: 700px;
}

#form {
	margin-left: 50px;
	width: 700px;
	height: 700px;
}
</style>
<script>
	$(function() {
		//复用头部JS
		$("#header").load("toHeader?value=transfer");
		//复用尾部JS
		$("#footer").load("common/footer.html");

		//显示日期      
		/*  $("#paymentDate").datetimepicker({
		   format: 'yyyy-mm-dd',
		   language:'zh-CN',
		   minView:2
		     //endDate:new Date()
		 });  */
		//表单验证
		$("#singleTransferForm").validate({
			rules : {
				receivingAccount : {
					required : true,
					rangelength : [ 17, 19 ]
				},
				receivingName : {
					required : true,
					rangelength : [ 2, 16 ]
				},
				transferAmount : {
					required : true,
					min : 500,
					max : 50000
				}
			},
			messages : {
				receivingAccount : {
					required : "请填写收款账号",
					rangelength : "收款账户必须为{0}或{1}位"
				},
				transferAmount : {
					required : "请填写转账金额!",
					min : "单次转账金额不能低于500",
					max : "单次转账金额不能高于50000"
				},
				receivingName : {
					required : "收款姓名不能为空",
					rangelength : "收款姓名必须为{0}-{1}位"
				}
			},
			submitHandler : function(form) {
				checkBalance();
			},
			errorClass : "text-danger",
			highlight : function(element) {
				$(element).closest("div.form-group").addClass("has-error");
			},
			unhighlight : function(element) {
				$(element).closest("div.form-group").removeClass("has-error");
			}
		})

		//显示余额
		$("#paymentAccount").change(function() {
			$.ajax({
				dataType : "json",
				url : "/showBalance?id_card=" + $(this).val(),
				success : function(rs) {
					$("#balance").val(rs.balance);
				}
			});
		});

		 $("#paymentAccount").change();
		//查询余额是否充足
		/* $("#singleTransferForm").submit(function(){
			checkBalance();
				}); */
		
		function checkBalance(){
		
				if (parseInt($("#balance").val()) < 
					parseInt($("#transferAmount").val())){
					alert("余额不足");
					return false;
				} else {
					$("#inputPassword").modal();
				}
				return false;
			}
		
		//选择账号
		$(".chooseAccount").click(function() {
					$("#receivingAccount").val($(this).attr("value"));
					$("#receivingName").val($(this).html());
		});
		//验证密码
		$("#checkPassword").click(
				function() {
					if ($("#codeTime").val() == "3") {
						$.messager.alert("银行卡已冻结,请联系管理员");
						return;
					}
					$.ajax({
						dataType : "json",
						url : "/checkPassword?password=" + $("#password").val()
								+ "&id_card=" + $("#paymentAccount").val(),
						success : function(rs) {
							if (rs.success) {
								$("#singleTransferForm").ajaxSubmit({
									dataType : "json",
									success : function(rs) {
										if (rs.success) {
											alert("提交成功!!!");
											location.href = "index.html";
										} else {
											$.messager.alert("友情提示", rs.msg);
										}
									}
								});
							} else {
								
								$.messager.alert("密码错误!!请重新输入密码");
								$("#codeTime").val(
										parseInt($("#codeTime").val()) + 1);
								
							}
						}

					});

				});

		/* var date = new Date();
		//到账时间设置
		$("#realTime").click(function() {
			alert(date);
		});
		$("#ordinary").click(function() {
			alert(date);
		});
		$("#nextDay").click(function() {
			alert(date);
		}); */
	});
</script>
</head>



<body>
	<!--复用头部-->
	<div id="header"></div>

	<!-- banner 2 -->
	<div>
		<!-- class="banner-2-agile" -->
		<img style="height: 420px; width: 100%;" src="images/banner7.jpg" />
	</div>
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<ul class="w3_short">
				<li><a href="index.html">主页</a> <i>>></i></li>
				<li>单笔汇款</li>
			</ul>
		</div>
	</div>
	<!-- //banner 2 -->
	<!-- about bottom -->
	<div class="about-bottom-agile">
		<div class="container">
			<div class="container">
				<div id="left-menu">
					<div id="menu">
						<div class="list-group">
							<a href="javascript::" class="list-group-item active">单笔汇款</a> <a
								href="/toRegisterAccountTransfer" class="list-group-item">注册账户汇款</a>
							<a href="/toBatchTransfer" class="list-group-item">批量汇款</a> <a
								href="/toCrossBorderTransfer" class="list-group-item">跨境汇款</a>
						</div>
					</div>
				</div>
				<div id="center">
					<h3 class="tittle">
						<span>单</span>笔汇<span>款</span>
					</h3>
					<div id="account">
						<div id="form">
							<form class="form-horizontal" action="/singleTransfer"
								method="POST" id="singleTransferForm">
								<div class="form-group">
									<label for="paymentAccount" class="col-sm-2 control-label">付款卡号</label>
									<div class="col-sm-8">
										<select name="paymentAccount" id="paymentAccount"
											class="form-control">
											<option th:each="card:${cards}" th:value="${card.id_card}"
												th:text="${card.id_card}"></option>
										</select>

									</div>
								</div>
								<div class="form-group">
									<label for="balance" class="col-sm-2 control-label">余额</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="balance" readonly="readonly"
											name="balance" th:value="${cards[1].balance}">

									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2"></div>
									<div class="col-sm-8">
										<p class="col-sm-3">
											<input type="radio" name="transfer_mode" id="realTime" checked value="实时到账">实时到账
										</p>
										<p class="col-sm-3">
											<input type="radio" name="transfer_mode" id="ordinary" value="普通到账">普通到账
										</p>
										<p class="col-sm-3">
											<input type="radio" name="transfer_mode" id="nextDay" value="次日到账">次日到账
										</p>
									</div>
								</div>
								<!-- <div class="form-group"> -->
								<!-- <label for="paymentDate" class="col-sm-2 control-label">到账时间</label> -->
								<!-- <div class="col-sm-6"> -->
								<input type="hidden" id="paymentDate" name="paymentDate">
								<!--  </div> -->
								<!-- </div> -->
								<div class="form-group">
									<label for="receivingAccount" class="col-sm-2 control-label">收款账号</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="receivingAccount"
											name="receivingAccount">
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											联系人 <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li th:each="contact:${contacts}"><a href="javascript:void(0);" class="chooseAccount" th:text="${contact.receiving_name}" th:value="${contact.receiving_account}"></a></li>
										</ul>
									</div>
								</div>
								<div class="form-group">
									<label for="receivingName" class="col-sm-2 control-label">收款人姓名</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="receivingName"
											name="receivingName">
									</div>
								</div>
								<div class="form-group">
									<label for="bankName" class="col-sm-2 control-label">所属银行</label>
									<div class="col-sm-8">
										<select name=" bankName " id="bankName " class="form-control ">
											<option th:each="cardType:${cardTypes}"
												th:value="${cardType.id}" th:text="${cardType.type_name}" th:selected="${cardType.type_name eq '乔治银行'}"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="transferAmount" class="col-sm-2 control-label">转账金额</label>
									<div class="col-sm-6">
										<input type="number" class="form-control" id="transferAmount"
											name="transferAmount">
									</div>
								</div>
								<div class="form-group">
									<label for="msg" class="col-sm-2 control-label">附言</label>
									<div class="col-sm-8">
										<textarea name="msg" id="msg"
											class="form-control" rows="3">                           
                                    </textarea>

									</div>
								</div>

								<div class="form-group ">
									<div class="col-sm-offset-8 col-sm-10 ">
										<button type="submit" class="btn btn-default ">确认转账</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="inputPassword" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">输入密码</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="checkPasswordForm" method="post"
						action="/checkPassword">
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">密码 </label>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="password"
									name="password" />
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<input type="hidden" value="0" id="codeTime" />
					<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
					<button type="button" class="btn btn-primary" id="checkPassword">确认汇款</button>
				</div>
			</div>
		</div>
	</div>
	<!--复用尾部-->
	<div id="footer"></div>
</body>

</html>