<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>测试</title>
</head>
<body>
	<form action="/queryCardOne"  th:method="Post">
	    <input type="text" name="id_card">
	    <input type="submit" value="提交">
    </form>
    <br/>
	<table>
     <tr>
     	<td>id</td>
     	<td>用户名</td>
     	<td>用户真实姓名</td>
     	<td>证件类型</td>
     	<td>证件号码</td>
     	<td>姓名拼音</td>
     	<td>手机号</td>
     </tr>
     <tr>
     	<td th:text="${session.card.id}">id</td>
     	<td th:text="${session.card.id_card}">银行卡号</td>
     	<td th:text="${session.card.start_place}">开户地点</td>
     	<td th:text="${session.card.curreny}">币种</td>
     	<td th:text="${session.card.balance}">余额</td>
     	<td th:text="${session.card.available_balance}">可用余额</td>
     	<td th:text="${session.card.start_place_id}">开户网点</td>
     </tr>
     </table>
     <br/>
     <button onclick="window.loacation.href=''">明细</button>
     <button>汇款</button>
     <button>开户网点</button>
     <button>更多</button>
</body>
</html>