<!DOCTYPE html>
<html lang="en">

<head>
    <title>转账汇款</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <!-- For-tabs-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
    <!--复用头部-->
    <div id="header"></div>
    
    <!-- banner 2 -->
    <div>
	<!-- class="banner-2-agile" -->
	<img style="height: 420px; width:100%;" src="images/banner7.jpg" />
	</div>
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <ul class="w3_short">
                <li>
                    <a href="index.html">主页</a>
                    <i>>></i>
                </li>
                <li>转账汇款</li>
            </ul>
        </div>
    </div>
    <!-- //banner 2 -->
    <!-- about bottom -->
    <div class="about-bottom-agile">
        <div class="container">
            <h3 class="tittle">
                <span>转</span>账汇<span>款</span>
            </h3>
            <div class="col-md-6 about-bottom-g1">
                <div class="about-bottom-right">
                    <div class="col-xs-2 aboutagile-grid">
                        <span class="hi-icon hi-icon-archive fa fa-check"> </span>
                    </div>
                    <div class="col-xs-10 w3ls-about-bottom">
                        <h4>Excepteur sint</h4>
                        <p>que earum rerum hic tenetur a sapiente </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="about-bottom-right">
                    <div class="col-xs-2 aboutagile-grid">
                        <span class="hi-icon hi-icon-archive fa fa-clone"> </span>
                    </div>
                    <div class="col-xs-10 w3ls-about-bottom">
                        <h4>nostrum exe</h4>
                        <p>que earum rerum hic tenetur a sapiente </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class=" about-bottom-right">
                    <div class="col-xs-2 aboutagile-grid">
                        <span class="hi-icon hi-icon-archive fa fa-align-center"> </span>
                    </div>
                    <div class="col-xs-10 w3ls-about-bottom">
                        <h4>ullamco lrb</h4>
                        <p>que earum rerum hic tenetur a sapiente </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class=" about-bottom-right">
                    <div class="col-xs-2 aboutagile-grid">
                        <span class="hi-icon hi-icon-archive fa fa-home"> </span>
                    </div>
                    <div class="col-xs-10 w3ls-about-bottom">
                        <h4>cupiditate noe</h4>
                        <p>que earum rerum hic tenetur a sapiente</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-6 services-grids w3layouts-grids">
                <h4 class="about-bottom-title">WE ARE PERFECT WEBSITE FOR PROMOTE YOUR BUSINESS LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <a href="contact.html" class="link-w3l1">Contact Now</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //about -->

    <div class="se-slope">
        <div class="container">
            <div class="about-img-w3-agileits">
                <!--responsive-tabs-->
                <div id="horizontalTab">
                    <div class="col-md-7 resp-tabs-container">
                        <div class="tab1">
                            <img src="images/tab1.jpg" alt="image" />
                            <div class="clear"></div>
                        </div>
                        <div class="tab2">
                            <div class="register">
                                <img src="images/tab2.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="tab3">
                            <div class="reset">
                                <img src="images/tab3.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="tab4">
                            <div class="main">
                                <img src="images/tab4.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="tab5">
                            <div class="main">
                                <img src="images/tab5.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="tab6">
                            <div class="main">
                                <img src="images/tab6.jpg" alt="image" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 small-w3l">
                        <ul class="resp-tabs-list">
                            <li>
                                <img src="images/tab11.jpg" alt="image" />
                            </li>
                            <li>
                                <img src="images/tab22.jpg" alt="image" />
                            </li>
                            <li>
                                <img src="images/tab33.jpg" alt="image" />
                            </li>
                            <li>
                                <img src="images/tab44.jpg" alt="image" />
                            </li>
                            <li>
                                <img src="images/tab55.jpg" alt="image" />
                            </li>
                            <li>
                                <img src="images/tab66.jpg" alt="image" />
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--//responsive-tabs-->
            </div>
        </div>
    </div>
    <!-- Stats -->
    <div class="stats-w3layouts">
        <div class="container">
            <h5>Check Out Our Awesome Statistics
                <span>& Hire Now</span>
            </h5>
            <div class="stats-agileinfo agileits-w3layouts">
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9570' data-delay='.5' data-increment="100">9570</div>
                    <h6>LIKES</h6>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
                    <h6>PROJECTS</h6>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='5000' data-delay='.5' data-increment="10">5000</div>
                    <h6>REVIEWS</h6>
                </div>
                <div class="col-sm-3 col-xs-3 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='110' data-delay='8' data-increment="1">50</div>
                    <h6>CLIENTS</h6>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Stats -->
    <!-- what we do -->
    <div class="what-agile">
        <div class="container">
            <h3 class="tittle">
                <span>W</span>hat we D<span>o</span>
            </h3>
            <div class="col-xs-4  w3l-content">
                <div class="img-content">
                    <img src="images/w4.jpg" alt="" />
                    <div class="align-w3l">
                        <h6>We Design Beautiful Interiors</h6>
                        <p>Home -- New Design</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4  w3l-content">
                <div class="img-content">
                    <img src="images/w3.jpg" alt="" />
                    <div class="align-w3l">
                        <h6>We Design Beautiful Interiors</h6>
                        <p>Home -- New Design</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 w3l-content">
                <div class="img-content">
                    <img src="images/w2.jpg" alt="" />
                    <div class="align-w3l">
                        <h6>We Design Beautiful Interiors</h6>
                        <p>Home -- New Design</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //what we do -->
   <!--复用尾部-->
    <div id="footer"></div>

    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- Baneer-js -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function() {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function() {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function() {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
            //复用头部JS
            $("#header").load("common/header.html");
            //复用尾部JS
            $("#footer").load("common/footer.html");
        });
    </script>
    <!-- //Baneer-js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- Progressive-Effects-Animation-JavaScript -->
    <script type="text/javascript" src="js/numscroller-1.0.js"></script>
    <!-- //Progressive-Effects-Animation-JavaScript -->
    <!--responsive-tabs-script-->
    <script src="js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function() {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion           
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function(event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!--//responsive-tabs-script-->
    <!-- //js-scripts -->
</body>

</html>