<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
<title>平滑曲线图js特效插件</title>
<meta name="keywords" content="简单实用,收入统计,精美,平滑,曲线图,js特效插件" />
<meta name="description" content="简单实用收入统计精美平滑曲线图js特效插件下载。" /> 
<meta name="author" content="js代码(www.jsdaima.com)" />
<meta name="copyright" content="js代码(www.jsdaima.com)" />
<link rel="stylesheet" href="css/www.jsdaima.com.css">


</head>

<body style="background:transparent;">

<div class="row">
	<div class="chart__container">
		<canvas id="chart" width="600" height="300"></canvas>
	</div>
</div>

<script src='js/Chart.min.js'></script>
<script src="js/index.js"></script>




</body>

</html>