<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bankTransfer.mapper.CashSweepMapper">
			
	<!-- 添加资金归集 -->
	<insert id="addCollection" parameterType="CashSweep">
		insert into T_CASH_SWEEP values(cash_sweep_id.nextval,
		#{service_items},
		#{start_time},
		#{end_time},
		#{state},
		#{collection_accout},
		#{receiver_name},
		#{collecting_type},
		#{debit_account},
		#{debit_name},
		#{bank_id},
		#{transferred_money},
		#{debit_tel}
		)
	</insert>
	
	
</mapper>