<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bankTransfer.mapper.TransferMapper">
	<update id="subtractBalance">
		UPDATE t_card SET balance = balance-#{transferAmount},available_balance = available_balance - #{transferAmount} 
			WHERE id_card = #{paymentAccount}
	</update>

</mapper>