<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bankTransfer.mapper.TransferMapper">
	<update id="subtractBalance">
		UPDATE t_card SET balance = balance-#{transferAmount},available_balance = available_balance-#{transferAmount} 
			WHERE id_card = #{paymentAccount}
	</update>
	<select id="judgeContact" resultType="int">
		SELECT COUNT(1) FROM t_contacts WHERE receiving_account = #{receiveCardId}
	</select>
	<insert id="addContact">
		INSERT INTO t_contacts VALUES(seq_contacts.nextval,#{user_id},#{receiveCardId},#{receiveName})
	</insert>
	<insert id="insertRecord" parameterType="TransferSingle_VO">
		INSERT INTO t_transfer VALUES(seq_transferLog.nextval,#{paymentName},#{paymentAccount},#{paymentDate}
			,#{transferAmount},#{receivingName},#{receivingAccount},#{serviceCharge},#{result},#{paymentId},#{transfer_type},#{transaction_type},#{msg},#{transfer_mode})
	</insert>
	<select id="getMaxPrice" resultType="Double">
		select max_price from t_card where id_card=#{paymentAccount}
	</select>
	<select id="judgeDocumentNum" resultType="int">
		select count(1) from t_user where user_id = #{id} and card_number = #{card} and real_name=#{name}
	</select>
	<select id="judgeUserMsg" resultType="int">
		select count(1) from t_user u,(select user_id from t_card where id_card = #{cardNum})c 
       where u.real_name = #{name} and u.user_id = c.user_id
	</select>
	<select id="getBalance" resultType="Double">
		select balance from t_card where id_card = #{payCardNum}
	</select>
	<select id="queryTranferInfoByTransferMode" resultMap="TransferSingleMap">
	select * from t_transfer where (transfer_mode = '普通到账' or transfer_mode = '次日到账')  and RESULT = '1'
	</select>
	<update id="changeTransferInfo">
	update t_transfer set result = '2' where id = #{id}
	</update>
	
	
	<resultMap type="TransferSingle_VO" id="TransferSingleMap">
	<id column="id" property="id"/>
	<result column="t_name" property="paymentName"/>
	<result column="T_ACCOUT_NUMBER" property="paymentAccount"/>
	<result column="T_TIME" property="paymentDate"/>
	<result column="T_AMOUNT" property="transferAmount"/>
	<result column="P_NAME" property="receivingName"/>
	<result column="P_ACCOUT_NUMBER" property="receivingAccount"/>
	<result column="T_HANDFEE" property="serviceCharge"/>
	<result column="RESULT" property="result"/>
	<result column="T_ID" property="paymentId"/>
	<result column="TRANFER_TYPE" property="transfer_type"/>
	<result column="TRANSACTION_TYPE" property="transaction_type"/>
	<result column="MSG" property="msg"/>
	<result column="TRANSFER_MODE" property="transfer_mode"/>
	
	

	</resultMap>
	
</mapper>